@media (min-width:1200px)and (max-width: 1360px){
	.contain{
	    width:1000px;
	}
	.contain_big{
		width:1170px;
	}
}
@media (max-width:1200px){
  .contain{
	    width:1200px;
	}
  .contain_big{
  	width:1170px;
  }
}
@media(max-width: 992px){
	.contain{
	    width:90%;
	}
	.contain_big{
		width:96%;
	}
	.navigate li{
		text-align:center;
	}
	.navigate{
		width:100%;
	}

}

@media (min-width:992px)and (max-width: 1199px){
	.contain{
	    width:870px;
	}
	.contain_big{
	  	width:990px;
	  }
}

@media (max-width: 991px) {
	.cooper_item{
		height: 1rem;
		line-height: 1rem;
	}
}
@media(min-width:768px ) and (max-width:991px){
	
}
@media (max-width: 768px) {
	img { width: auto; max-width: 100%; }
	.contain{
	    width:100%;
	    padding: 0;
	}
	.banner{
		height:5rem
	}
	.banner img{
		height:5rem
	}
	.menu-item{
		width:100%
	}
	.menu-item img{
		width:80%;
		height:80%
	}
	.strengths{
		height:auto;
		padding: 1rem 0.2rem;	
	}
	.strengths-item{
		float: left;
		width:50%;
		margin: 1rem 0 0 0 ;
	}
	.product{
		padding: 0 0.4rem;
	}
	.product-item{
		width:48%
	}
	.process img{
		width:100%
	}
	.footer{
		height:2.5rem
	}
	.footer-content{
		width:100%;
		padding: 0.1rem;
	}
	.footer-item{
		height:100%
	}
	.footer-item-img{
		height:1.6rem
	}
	.footer-item img{
		width:1rem
	}
	.contact-item{
		width:100%;
		float: none;
		padding: 0.2rem 0;
	}
	.contact-item-left{
		width:100%;
		text-align: center;
	}
	.contact{
		padding: 0.2rem 0.2rem;
		height:auto
	}
	.button{
		margin: 0.2rem auto;
	}
	.infomation{
		padding: 0.5rem 0.2rem;
	}
	.infomation-title{
		padding: 0;
	}
	.infomation-list{
		padding-bottom: 0.5rem;
	}
	.infomation-item{
		width:100%;
		height:auto;
		overflow: hidden;
		margin:0.5rem 0
	}
	.partner{
		padding: 0.2rem 0.2rem;
		height:auto
	}
	.service{
		padding: 0 0.2rem;
	}
	.about-us-left{
		float: none;
		padding:0.2rem 0.2rem 0.2rem 0.2rem ;
		width: 100%;
	}
	.about-us-right{
		float: none;
		width:100%
	}
	.about-us-right-img{
		padding: 0.2rem 0;
		width:28%
	}
	.about-us-right-img img{
		width:2rem;
		height:2rem
	}
	
	/* 小小程序开发 */
	.program{
		height:auto
	}
	.program-image img{
		width:100%
	}
	.advantages{
		padding: 0;
		height:auto
	}
	.advantages-title{
		padding: 0.5rem 0;
	}
	.advantages-item-left{
		float: none;
		width:94%;
		margin:0 auto;
		height:auto
	}
	.advantages-item-right{
		float: none;
		width: 94%;
		margin: 0 auto;
		padding: 0.5rem 0;
		height:auto
	}
	.advantages-right-top{
		height:auto
	}
	.advantages-right-bottom{
		height:auto
	}
	.wxprocess{
		padding: 0.2rem 0.2rem;
		height:auto
	}
	.wxprocess-item{
		margin: 0.2rem 0;
		width:50%
	}
	.website{
		padding:0.2rem 0.2rem;
		height:auto;
		background-image:none;
	}
	.website-title{
		float: none;
		width:100%;
		text-align: center;
	}
	.website-list{
		float: none;
		width:100%;
		padding:0.2rem 0;
	}
	.website-item{
		float: none;
		width:95%;
		height:auto;
		margin: 0.2rem;
	}
	.website-process{
		padding:0.2rem 0.2rem;
	}
	.website-process-item{
	
		width:50%
	}
	.introduce{
		padding: 0.5rem 0.5rem;
		height:auto
	}
	.introduce-list{
		padding: 0;
	}
	.major{
		padding: 0.5rem 0;
		height:14.2rem
	}
	.major-item{
		float: none;
		width:94%;
		margin: 0.2rem auto;
		height:auto
	}
	.major-item-img img{
		width:1.5rem
	}
	.recruit-list{
		padding: 0.2rem 0.2rem;
	;
	}
	.recruit-item{
	
		width:100%;
		margin: 0.5rem 0;
		padding: 0;
		float: none;
	}
}

@media(min-width:480px ) and (max-width:767px){
	
}
@media (max-width: 480px) {
	img { width: auto; max-width: 100%; }
	.contain{
	    width:100%;
	    padding: 0;
	}
	.banner{
		height:5rem
	}
	.banner img{
		height:5rem
	}
	.menu-item{
		width:100%
	}
	.menu-item img{
		width:80%;
		height:80%
	}
	.strengths{
		height:auto;
		padding: 1rem 0.2rem;	
	}
	.strengths-item{
		float: left;
		width:50%;
		margin: 1rem 0 0 0 ;
	}
	.product{
		padding: 0 0.4rem;
	}
	.product-item{
		width:48%
	}
	.process img{
		width:100%
	}
	.footer{
		height:2.5rem
	}
	.footer-content{
		width:100%;
		padding: 0.1rem;
	}
	.footer-item{
		height:100%
	}
	.footer-item-img{
		height:1.6rem
	}
	.footer-item img{
		width:1rem
	}
	.contact-item{
		width:100%;
		float: none;
		padding: 0.2rem 0;
	}
	.contact-item-left{
		width:100%;
		text-align: center;
	}
	.contact{
		padding: 0.2rem 0.2rem;
		height:auto
	}
	.button{
		margin: 0.2rem auto;
	}
	.infomation{
		padding: 0.5rem 0.2rem;
	}
	.infomation-title{
		padding: 0;
	}
	.infomation-list{
		padding-bottom: 0.5rem;
	}
	.infomation-item{
		width:100%;
		height:auto;
		overflow: hidden;
		margin:0.5rem 0
	}
	.partner{
		padding: 0.2rem 0.2rem;
		height:auto
	}
	.service{
		padding: 0 0.2rem;
	}
	.about-us-left{
		float: none;
		padding:0.2rem 0.2rem 0.2rem 0.2rem ;
		width: 100%;
	}
	.about-us-right{
		float: none;
		width:100%
	}
	.about-us-right-img{
		padding: 0.2rem 0;
		width:28%
	}
	.about-us-right-img img{
		width:2rem;
		height:2rem
	}
	
	/* 小小程序开发 */
	.program{
		height:auto
	}
	.program-image img{
		width:100%
	}
	.advantages{
		padding: 0;
		height:auto
	}
	.advantages-title{
		padding: 0.5rem 0;
	}
	.advantages-item-left{
		float: none;
		width:94%;
		margin:0 auto;
		height:auto
	}
	.advantages-item-right{
		float: none;
		width: 94%;
		margin: 0 auto;
		padding: 0.5rem 0;
		height:auto
	}
	.advantages-right-top{
		height:auto
	}
	.advantages-right-bottom{
		height:auto
	}
	.wxprocess{
		padding: 0.2rem 0.2rem;
		height:auto
	}
	.wxprocess-item{
		margin: 0.2rem 0;
		width:50%
	}
	.website{
		padding:0.2rem 0.2rem;
		height:auto;
		background-image:none;
	}
	.website-title{
		float: none;
		width:100%;
		text-align: center;
	}
	.website-list{
		float: none;
		width:100%;
		padding:0.2rem 0;
	}
	.website-item{
		float: none;
		width:95%;
		height:auto;
		margin: 0.2rem;
	}
	.website-process{
		padding:0.2rem 0.2rem;
	}
	.website-process-item{
	
		width:50%
	}
	.introduce{
		padding: 0.5rem 0.5rem;
		height:auto
	}
	.introduce-list{
		padding: 0;
	}
	.major{
		padding: 0.5rem 0;
		height:14.2rem
	}
	.major-item{
		float: none;
		width:94%;
		margin: 0.2rem auto;
		height:auto
	}
	.major-item-img img{
		width:1.5rem
	}
	.recruit-list{
		padding: 0.2rem 0.2rem;
	;
	}
	.recruit-item{
	
		width:100%;
		margin: 0.5rem 0;
		padding: 0;
		float: none;
	}
}

