@media (min-width:1200px)and (max-width: 1360px){
	.nav-main{
		width:90%
	}
	.nav-item {
		font-size:0.16rem
	}
	.nav-item-text a{
		height:0.4rem
	}
	.menu-item{
		width:50%
	}
	.menu-item img{
		width:60%;
		height:60%
	}
	.about-us-left{
	
		padding:0.2rem 0.2rem 0.2rem 0.2rem ;
		width: 60%;
	}
	.about-us-right{
	
		width:40%
	}
	.about-us-right-img{
		padding: 0.7rem 0;
		width:47%
	}
	.about-us-right-img img{
		width:1.5rem;
		height:1.5rem
	}
	.strengths{
		padding: 1rem 0;
		height:auto
	}
	.strengths-item{
		margin: 3% 3%;
		width:44%
	}
	.product{
		padding: 0;
	}
	.product-item{
		
		width:48%
	}
	.service{
		padding: 0.5rem 0.2rem;
	}
	.partner{
		padding: 0;
	}
	.partner-item{
		width:28%;
	}
	.infomation{
		padding: 0;
	}
	.infomation-item{
		width:46%
	}
	.infomation-item-time{
		width:25%
	}
	.infomation-item-text{
		width:75%
	}
	.contact-item{
		width:100%;
		float: none;
		padding: 0.2rem 0.5rem;
	}
	.contact-item-left{
		width:100%;
		text-align: center;
	}
	.contact{
		padding: 0.2rem 0.2rem;
		height:auto
	}
	.button{
		margin: 0.2rem auto;
	}
	.footer-content{
		width:90%
	}
	.wxprocess{
		padding: 0.5rem 0.8rem;
	}
	.advantages{
		padding: 0.5rem 0.8rem;
	}
	.advantages-title p{
		font-size:0.2rem
	}
	.website{
		padding: 0.5rem 0.8rem;
	}
	.website-process{
		padding: 0.5rem 0.8rem;
	}
	.website-process-img{
		width:1rem;
		height:1rem;
		line-height: 1rem;
		margin: 0 auto;
	}
	
	.website-process-img img{
		width:0.5rem;
		height:0.5rem;
	}
	.website-process-text{
		width:2rem;
		margin: 0.3rem auto;
	}
	.app-process{
		padding: 0.5rem 0.8rem;
		height:auto
	}
	.wecando{
		
		padding: 0.5rem 0.5rem;
	}
	.wecando-item{
		width:40%

	}
	
	.wecando-item-img img{
		width:0.5rem;
		height:0.5rem
	}
	
	.introduce-list{
		padding: 0;
	}
		.major{
		padding: 0.2rem 0.2rem;
	}
	.major-item-img {
	
		padding:17% 0;
	}
	.major-item-img img{
		width:1rem;
		height:1rem;
	
	}
	.major-item-text{
		padding: 0.3rem 0.3rem;
	}
	.recruit-list {
		padding: 0.3rem 0.3rem;
	}
	
}
@media (max-width:1200px){
  .contain{
	    width:1200px;
	}
  .contain_big{
  	width:1170px;
  }
  	.nav-main{
  	width:90%
  }
  .nav-item {
  	font-size:0.16rem
  }
  .nav-item-text a{
  	height:0.4rem
  }
  .menu-item{
  	width:50%
  }
  .menu-item img{
  	width:60%;
  	height:60%
  }
  .about-us-left{
  
  	padding:0.2rem 0.2rem 0.2rem 0.2rem ;
  	width: 60%;
  }
  .about-us-right{
  
  	width:40%
  }
  .about-us-right-img{
  	padding: 0.7rem 0;
  	width:47%
  }
  .about-us-right-img img{
  	width:1.5rem;
  	height:1.5rem
  }
  .strengths{
  	padding: 1rem 0;
  	height:auto
  }
  .strengths-item{
  	margin: 3% 3%;
  	width:44%
  }
  .product{
  	padding: 0;
  }
  .product-item{

  	width:48%
  }
  .service{
  	padding: 0.5rem 0.2rem;
  }
  .partner{
  	padding: 0;
  }
  .partner-item{
  	width:28%;
  }
  .infomation{
  	padding: 0;
  }
  .infomation-item{
  	width:46%
  }
  .infomation-item-time{
  	width:25%
  }
  .infomation-item-text{
  	width:75%
  }
  .contact-item{
  	width:100%;
  	float: none;
  	padding: 0.2rem 0.5rem;
  }
  .contact-item-left{
  	width:100%;
  	text-align: center;
  }
  .contact{
  	padding: 0.2rem 0.2rem;
  	height:auto
  }
  .button{
  	margin: 0.2rem auto;
  }
  .footer-content{
  	width:90%
  }
  .wxprocess{
  	padding: 0.5rem 0.8rem;
  }
  .advantages{
  	padding: 0.5rem 0.8rem;
  }
  .advantages-title p{
  	font-size:0.2rem
  }
  .website{
  	padding: 0.5rem 0.8rem;
  }
  .website-process{

  	padding: 0.5rem 0.8rem;
  }
  .website-process-img{
  	width:1rem;
  	height:1rem;
  	line-height: 1rem;
	margin: 0 auto;
  }
  
  .website-process-img img{
  	width:0.5rem;
  	height:0.5rem;
  }
  .website-process-text{
  	width:1rem;
	margin: 0.3rem auto;
  }
  .app-process{
  	padding: 0.5rem 0.8rem;
  	height:auto
  }
  .wecando{
  	
  	padding: 0.5rem 0.5rem;
  }
  .wecando-item{
  	width:40%
  
  }
  .wecando-item-img img{
  	width:0.5rem;
  	height:0.5rem
  }
 
  	.major{
  	padding: 0.2rem 0.2rem;
  }
  .major-item-img {
  
  	padding:17% 0;
  }
  .major-item-img img{
  	width:1rem;
  	height:1rem;
  
  }
  .major-item-text{
  	padding: 0.3rem 0.3rem;
  }
  .recruit-list {
  	padding: 0.3rem 0.3rem;
  }
}
@media(max-width: 992px){
	.logo img{
		width:0.5rem;
		height:1rem;
	}
	.nav-main{
		width:90%
	}
	.nav-item {
		font-size:0.16rem
	}
	.nav-item-text a{
		height:0.4rem
	}
	.menu-item{
		width:50%
	}
	.menu-item img{
		width:60%;
		height:60%
	}
	.about-us-left{
	
		padding:0.2rem 0.2rem 0.2rem 0.2rem ;
		width: 60%;
	}
	.about-us-right{
	
		width:40%
	}
	.about-us-right-img{
		padding: 0.7rem 0;
		width:47%
	}
	.about-us-right-img img{
		width:1.5rem;
		height:1.5rem
	}
	.strengths{
		padding: 1rem 0;
		height:auto
	}
	.strengths-item{
		margin: 3% 3%;
		width:44%
	}
	.product{
		padding: 0;
	}
	.product-item{
		margin: 0 1%;
		width:48%
	}
	.service{
		padding: 0.5rem 0.2rem;
	}
	.partner{
		padding: 0;
	}
	.partner-item{
		width:28%;
	}
	.infomation{
		padding: 0;
	}
	.infomation-item{
		width:46%
	}
	.infomation-item-time{
		width:25%
	}
	.infomation-item-text{
		width:75%
	}
	.contact-item{
		width:100%;
		float: none;
		padding: 0.2rem 0.5rem;
	}
	.contact-item-left{
		width:100%;
		text-align: center;
	}
	.contact{
		padding: 0.2rem 0.2rem;
		height:auto
	}
	.button{
		margin: 0.2rem auto;
	}
	.footer-content{
		width:90%
	}
	.wxprocess{
		padding: 0.5rem 0.8rem;
	}
	.advantages{
		padding: 0.5rem 0.8rem;
	}
	.advantages-title p{
		font-size:0.2rem
	}
	.website{
		padding: 0.5rem 0.8rem;
	}
	.website-process{
		padding: 0.5rem 0.8rem;
	}
	.website-process-img{
		width:1rem;
		height:1rem;
		line-height: 1rem;
		margin: 0 auto;
	}
	.website-process-item{
		height:3rem
	}
	.website-process-img img{
		width:0.5rem;
		height:0.5rem;
	}
	.website-process-text{
		width:1rem;
		margin: 0.3rem auto;
	}
	.app-process{
		padding: 0.5rem 0.8rem;
		height:auto
	}
	.wecando{
		
		padding: 0.5rem 0.5rem;
	}
	.wecando-item{
		width:40%

	}
	.wecando{
		height:7.8rem
	}
	.wecando-item{
		height:2rem
	}
	.wecando-item-img{
		display: none;
	}
	.wecando-item-img img{
		width:0.5rem;
		height:0.5rem
	}
	
	.introduce-list{
		padding: 0;
	}
	.major{
		padding: 0.2rem 0.2rem;
	}
	.major-item-img {

		padding:17% 0;
	}
	.major-item-img img{
		width:1rem;
		height:1rem;

	}
	.major-item-text{
		padding: 0.3rem 0.3rem;
	}
	.recruit-list {
		padding: 0.3rem 0.3rem;
	}
	.recruit-item {
		width:46%
	}
}

@media (min-width:992px)and (max-width: 1199px){
	.contain{
	    width:870px;
	}
	.contain_big{
	  	width:990px;
	 }
	 .advantages{
		padding: 0.5rem 0.8rem;
	 }
	.advantages-title p{
	 	font-size:0.2rem
	}
	.website{
		padding: 0.2rem 0.2rem;
	}
	.introduce-list{
		padding: 0;
	}
	
}

@media (max-width: 991px) {
	.cooper_item{
		height: 1rem;
		line-height: 1rem;
	}
}
@media(min-width:768px ) and (max-width:991px){
	
}
@media (max-width: 768px) {
	
	.contain{
	    width:100%;
	    padding: 0;
	}
	.banner{
		height:10.8rem
	}
	/* .banner img{
		height:5rem
	} */
	.menu-item{
		width:100%
	}
	.menu-item img{
		width:80%;
		height:80%
	}
	.strengths{
		height:auto;
		padding: 1rem 0.2rem;	
	}
	.strengths-item{
		float: left;
		width:50%;
		margin: 1rem 0 0 0 ;
	}
	.product{
		padding: 0 0.4rem;
	}
	.product-item{
		width:48%;
		
	}
	.process img{
		width:100%
	}
	.footer{
		height:2.5rem;
		padding: 0.3rem 0.1rem;
	}
	.footer-content{
		width:100%;
		padding: 0.1rem;
	}
	.footer-item{
		height:100%;
		
	}
	.footer-item-img{
		height:1.6rem
	}
	.footer-item img{
		width:1rem
	}
	.contact-item{
		width:100%;
		float: none;
		padding: 0.2rem 0;
	}
	.contact-item-left{
		width:100%;
		text-align: center;
	}
	.contact{
		padding: 0.2rem 0.2rem;
		height:auto
	}
	.button{
		margin: 0.2rem auto;
	}
	.infomation{
		padding: 0.5rem 0.2rem;
	}
	.infomation-title{
		padding: 0;
	}
	.infomation-list{
		padding-bottom: 0.5rem;
	}
	.infomation-item{
		width:100%;
		height:auto;
		overflow: hidden;
		margin:0.5rem 0
	}
	.partner{
		padding: 0.2rem 0.2rem;
		height:auto
	}
	.service{
		padding: 0 0.2rem;
	}
	.about-us-left{
		float: none;
		padding:0.2rem 0.2rem 0.2rem 0.2rem ;
		width: 100%;
	}
	.about-us-right{
		float: none;
		width:100%
	}
	.about-us-right-img{
		padding: 0.2rem 0;
		width:28%
	}
	.about-us-right-img img{
		width:2rem;
		height:2rem
	}
	
	/* 小小程序开发 */
	.program{
		height:auto
	}
	.program-image img{
		width:100%
	}
	.advantages{
		padding: 0;
		height:auto
	}
	.advantages-title: ;{
		padding: 0.5rem 0 0 0;
	}
	.advantages-item-left{
		float: none;
		width:94%;
		margin:0 auto;
		height:auto
	}
	.advantages-item-right{
		float: none;
		width: 94%;
		margin: 0 auto;
		padding: 0.5rem 0;
		height:auto
	}
	.advantages-right-top{
		height:3rem
	}
	.advantages-right-bottom{
		height:3rem
	}
	.wxprocess{
		padding: 0.2rem 0.2rem;
		height:auto
	}
	.wxprocess-item{
		margin: 0.2rem 0;
		width:50%
	}
	.website{
		padding:0.2rem 0.2rem;
		height:auto;
		background-image:none;
	}
	.website-title{
		float: none;
		width:100%;
		text-align: center;
	}
	.website-list{
		float: none;
		width:100%;
		padding:0.2rem 0;
	}
	.website-item{
		float: none;
		width:95%;
		height:auto;
		margin: 0.2rem;
	}
	.website-process{
		height:11.2rem;
		padding:0.2rem 0.2rem;
	}
	.website-process-item{
		height:3rem;
		width:43%
	}
	.introduce{
		padding: 0.5rem 0.5rem;
		height:auto
	}
	.introduce-list{
		padding: 0;
	}
	.major{
		padding: 0.5rem 0;
		height:18.6rem
	}
	.major-item{
		float: none;
		width:94%;
		margin: 0.2rem auto;
		height:auto
	}
	.major-item-img img{
		width:1.5rem
	}
	.recruit-list{
		padding: 0.2rem 0.2rem;
	;
	}
	.recruit-item{
	
		width:100%;
		margin: 0.5rem 0;
		padding: 0;
		float: none;
	}
}

@media(min-width:480px ) and (max-width:767px){
	
}
@media (max-width: 480px) {
	
	#phone{
		display: block;
	}
	.navigation-phone{
	
		width:100%;
		position: fixed;
		top:1.4rem;
		z-index:999
		
	}
	.nav-main{
		margin-top:3%;
	}
	.nav-item{
		width:100%;
		text-align: center;
		height:25%
	}
	.contain{
	    width:480px;
	    padding: 0;
	}
	.banner{
		height:13.8rem
	}
	/* .banner img{
		height:14rem
	} */
	.menu-item{
		width:100%
	}
	.menu-item img{
		width:80%;
		height:80%
	}
	.strengths{
		height:auto;
		padding: 1rem 0.2rem;	
	}
	.strengths-item{
		float: left;
		width:50%;
		margin: 1rem 0 0 0 ;
	}
	.product{
		padding: 0 0.4rem;
	}
	.product-item{
		width:100%;
		height:5.8rem
	}
	.process img{
		width:100%
	}
	.footer{
		height:3.5rem
	}
	
	.footer-item{
		height:100%
	}
	.footer-item-img{
		height:1.6rem
	}
	.footer-item img{
		width:1rem
	}
	.contact-item{
		width:100%;
		float: none;
		padding: 0.2rem 0;
	}
	.contact-item-left{
		width:100%;
		text-align: center;
	}
	.contact{
		padding: 0.2rem 0.2rem;
		height:auto
	}
	.button{
		margin: 0.2rem auto;
	}
	.infomation{
		padding: 0.5rem 0.2rem;
	}
	.infomation-title{
		padding: 0;
	}
	.infomation-list{
		padding-bottom: 0.5rem;
	}
	.infomation-item{
		width:100%;
		height:auto;
		overflow: hidden;
		margin:0.5rem 0
	}
	.partner{
		padding: 0.2rem 0.2rem;
		height:auto
	}
	.service{
		padding: 0 0.2rem;
	}
	.about-us-left{
		float: none;
		padding:0.2rem 0.2rem 0.2rem 0.2rem ;
		width: 100%;
	}
	.about-us-right{
		float: none;
		width:100%
	}
	.about-us-right-img{
		padding: 0.2rem 0;
		width:28%
	}
	.about-us-right-img img{
		width:2rem;
		height:2rem
	}
	
	/* 小小程序开发 */
	.program{
		height:auto
	}
	.program-image img{
		width:100%
	}
	.advantages{
		padding: 0;
		height:auto
	}
	.advantages-title{
		padding: 0.5rem 0 0 0;
	}
	.advantages-item-left{
		float: none;
		width:94%;
		margin:0 auto;
		height:auto
	}
	.advantages-item-right{
		float: none;
		width: 94%;
		margin: 0 auto;
		padding: 0.5rem 0;
		height:auto
	}
	.advantages-right-top{
		height:4rem
	}
	.advantages-right-img{
		padding: 1.2rem 0;
		width:30%
	}
	.advantages-right-img img{
		width:1.5rem;
		height:1.5rem
	}
	.advantages-right-content{
		width:70%
	}
	.advantages-right-bottom{
		height:4rem
	}
	.wxprocess{
		padding: 0.2rem 0.2rem;
		height:auto
	}
	.wxprocess-item{
		margin: 0.2rem 0;
		width:50%
	}
	.website{
		padding:0.2rem 0.2rem;
		height:auto;
		background-image:none;
		
	}
	.website-title{
		float: none;
		width:100%;
		text-align: center;
	}
	.website-list{
		float: none;
		width:100%;
		padding:0.2rem 0;
	}
	.website-item{
		float: none;
		width:95%;
		height:auto;
		margin: 0.2rem;
	}
	.website-process{
		padding:0.2rem 0.2rem;
		height:11.2rem
	}
	.website-process-item{
		height:4rem;
		width:43%
	}
	.wecando-item-img{
		display: none;
	}
	.wecando{
		height:7.8rem
	}
	.wecando-item{
		height:2rem
	}
	.introduce{
		padding: 0.5rem 0.5rem;
		height:auto
	}
	.introduce-list{
		padding: 0;
	}
	.major{
		padding: 0.5rem 0;
		height:18.6rem
	}
	.major-item{
		float: none;
		width:94%;
		margin: 0.2rem auto;
		height:auto
	}
	.major-item-img img{
		width:1.5rem;
		height:1.5rem
	}
	.recruit-list{
		padding: 0.2rem 0.2rem;
	;
	}
	.recruit-item{
	
		width:100%;
		margin: 0.5rem 0;
		padding: 0;
		float: none;
	}
	#computer{
		display: none;
	}
	
	#nav{
		display: block;
		float: right;
	}
	.strengths-item img{
		width:1.5rem;
		height:1.5rem
	}
}

