* {
    margin:0;
    padding: 0;
}
body {
    font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体"; 
    color: #000;
    font-size: 14px;
    overflow-x: hidden !important;
    position: relative;
    font-weight:normal;
}
@font-face{
    font-family: "siyuan";
    src: url('../SourceHanSans-Light/SourceHanSans-Light.otf') format('otf');
    src: url('../SourceHanSans-Light/SourceHanSans-Light.ttf') format('ttf');
    src: url('../SourceHanSans-Light/SourceHanSans-Light.woff') format('woff');
}
h1,h2,h3,h4,h5,h6,p,ul { 
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
/*  font-family: 'Josefin Sans', sans-serif;*/
    color: #272626;
    text-transform: capitalize;
    font-weight: normal;
}


a { cursor: pointer;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .5s ease-out;
       -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
         -o-transition: all .5s ease-out;
            transition: all .5s ease-out;
}
a:hover,a:active,a:visited,a:focus {
    text-decoration: none;
    outline: none;
}
button {
    border: none;
    outline: none;
    box-shadow: none;
    display: block; 
    padding: 0;
}
ul {
    list-style-type: none;
}
/*img {width: 100%; display: block;}*/
input,textarea {outline: none; -webkit-box-shadow: none; box-shadow: none;-webkit-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}
.main-page-wrapper {overflow-x: hidden !important;}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
clear: both;
}



.fenye{
    width: 100%;
    text-align: center;
    margin: 0.5rem auto;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    font-size: 0.3rem;
    color: #333;
}
.fenye a{
    font-size: 0.2rem;
    padding: 0.1rem 0.2rem;
    background: #fff;
    color: #53728f;
    display: inline-block;
    border:1px #ddd solid;
    margin-right:3px;
    
}
.fenye span{
    font-size: 0.2rem;
}
.fenye span input{
    width: 1.5rem;
    font-size: 0.2rem;
    padding: 0.1rem 0.2rem;
    outline: none;
    border:1px #aaa solid !important;
}
.fenye a:hover,.fenye span:hover{
    cursor: pointer;
}
.fenye a:hover,.fenye a.active{
    background: #0c76f0;
    color: #fff;
}



.font24{
    font-size:0.24rem;
}
.font18{
    font-size:0.18rem;
}


.flexRowBetween{
    display:flex;
    align-items:center;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */  
    display: -moz-box; /* Firefox 17- */  
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */  
    display: -moz-flex; /* Firefox 18+ */  
    display: -ms-flexbox; /* IE 10 */  
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
     -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    box-align:center;
    -webkit-align-items: center;
    align-items: center;
    }
.avoidOverflow{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.avoidOverflow2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
}
.avoidOverflow3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
}
.avoidOverflow4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; 
}
.flex{
    display:flex;
    align-items:center;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */  
    display: -moz-box; /* Firefox 17- */  
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */  
    display: -moz-flex; /* Firefox 18+ */  
    display: -ms-flexbox; /* IE 10 */  
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    box-align:center;
    -webkit-align-items: center;
    align-items: center;
}
.flexCenter{
    display:flex;
    align-items:center;
    justify-content:center;
     -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    box-align:center;
    -webkit-align-items: center;
    align-items: center;
}
.w710{
    width:96%;
    padding:0 2%;
}
.color{
    color:#0c76f0;
}
.color-fff{
    color:#fff;
}
.color-222{
    color:#222;
}
.color-333{
    color:#333;
}
.color-666{
    color:#666;
}
.color-999{
    color:#999;
}
.color-7a7a7a{
    color:#7a7a7a;
}
.color-898989{
    color:#898989;
}
.color-959595{
    color:#959595;
}
.color-4f4e4e{
    color:#4f4e4e;
}
.color-696969{
    color:#696969;
}
.color-292929{
    color:#292929;
}
.color-8f8f8f{
    color:#8f8f8f;
}
.color-8c8c8c{
    color:#8c8c8c;
}
.color-878787{
    color:#878787;
}
.color-272727{
    color:#272727;
}
.color-5c5c5c{
	color:#5c5c5c;
}
.color-b9b9b9{
    color:#b9b9b9;
}
.color-a8a8a8{
    color:#a8a8a8;
}
.font10{
    font-size:0.10rem;
}
.font14{
    font-size:0.14rem;
}
.font16{
    font-size:0.16rem;
}
.font18{
    font-size:0.18rem;
}
.font20{
    font-size:0.2rem;
}
.font22{
    font-size:0.22rem;
}
.font24{
    font-size:0.24rem;
}
.font26{
    font-size:0.26rem;
}
.font28{
    font-size:0.28rem;
}
.font30{
    font-size:0.3rem;
}
.font32{
    font-size:0.32rem;
}
.font34{
    font-size:0.34rem;
}
.font36{
    font-size:0.36rem;
}
.font38{
    font-size:0.38rem;
}
.font40{
    font-size:0.40rem;
}
.font50{
    font-size:0.50rem;
}
.font60{
    font-size:0.6rem;
}
.font80{
    font-size:0.8rem;
}
.margin-10{
	margin-top: 0.1rem;
}
.margin-12{
	margin-top: 0.12rem;
}
.margin-15{
	margin-top: 0.15rem;
}
.margin-16{
	margin-top: 0.16rem;
}
.margin-20{
	margin-top: 0.2rem;
}
.margin-25{
	margin-top: 0.25rem;
}
.margin-30{
	margin-top: 0.3rem;
}
.margin-40{
	margin-top: 0.4rem;
}
.margin-50{
	margin-top: 0.5rem;
}
.margin-55{
	margin-top: 0.55rem;
}
.margin-60{
	margin-top: 0.6rem;
}
.margin-75{
	margin-top: 0.75rem;
}
.img-responsive{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.contain{
    width:1200px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.orgin{
    width:100%;
    opacity: 0;
    height: 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s ease-out;
}
.after{
    opacity: 1;
    min-height: 2.5rem;
    height: auto;
    -webkit-animation: slide-down .5s ease-in;
    transition: max-height .5s ease-in;
    transform-origin: 50% 0;
}
.orgin1{
    width:100%;
    height: 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s ease-out;
}
.after1{
    max-height: 1000px;
    height: auto;
    transition: max-height 2s ease-in;
    transform-origin: 50% 0;
}
@-webkit-keyframes slide-down{
    0%{transform: scale(1,0);}
    25%{transform: scale(1,1.2);}
    50%{transform: scale(1,0.85);}
    75%{transform: scale(1,1.05);}
    100%{transform: scale(1,1);}
}
.after_phone{
     max-height: 1000px;
    height: auto;
    transition: max-height 0.5s ease-in;
    transform-origin: 50% 0;
}
.orgin_phone{
     width:100%;
    height: 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
.container {
    width: 100%;
	padding: 0;
	margin: 0;
}
.main1200{
    width:62.5%;
    margin:0 auto;
}
.banner{
	width:100%;
	height:10.8rem;
	position: relative;
}
.banner-title{
	font-size:0.75rem;
	color:#fff;
	position: absolute;
	top:34%;
	left:11%
}
.banner-small-title{
	font-size:0.3rem;
	color:#fff;
	position: absolute;
	top:50%;
	left:15%
}
.navigation{
	width:100%;
	height:1.4rem;
	position: absolute;
	top:0;
	z-index:999
}
.nav-main{
	display: flex;
	margin: 0 auto;
	width:70%;	
	height:80%;
	margin-top: 1%;
}
.logo{
	float:left;
	width:10%;
}
.nav-item{
	width:10%;
	font-size:.2rem;
	
	display: flex;
    align-items: center
}
.nav-item-text{
	height:40%;
}
.nav-item-text a{
	color:#fff;
}
.active{
	border-bottom: 0.02rem solid #fff;
}
.menu{
	width:100%;
	height:3rem;

}
.menu-item{
	width:25%;
	height:100%;
	float: left;
}
.menu-item-left{
	width:50%;
	height:100%;
	float: left;
	text-align: center;
}
.menu-item-right{
	width:50%;
	float: right;
	height:100%;
	text-align: center;
}
.menu-item-right-img{
	width:100%;
	height:3rem;
	display: table-cell;
	vertical-align: middle;
	
}

.about-us{
	
	width:100%;
}
.about-us-left{
	padding:1.5rem 0 1.5rem 2rem;
	width:60%;
	height: auto;
	float: left;
}
.about-us-right{
	width:40%;
	/* display:flex;
	align-items: center;
	justify-content: center; */
	float: right;
	
}
.about-us-right-img{
	 width:27%;
	 padding:calc(50% - 2.2rem) 0;
	 margin:0 auto;
}

.strengths{
	background-image:url(../images/img1.png) ;
	width:100%;
	height:5.05rem;
	
	padding: 1rem 1.85rem;
}
.strengths-item{
	text-align: center;
	width:19%;
	height:100%;
	float: left;
	margin: 0 3%;
}
.product{
	width:100%;
	padding: 0 1.4rem;
}
.product-title{
	width:100%;
	text-align: center;
	padding-top: 1.5rem;
}
.product-list{
	width:100%;
	padding-bottom: 1.5rem;
}
/* .product-list:after {
  content: "";
  flex: 530px;
} */
.product-item{
	width:32%;
	height:5.4rem;
	float: left;
	margin: 0 0.6%;
}
.product-item img{
	width:100%;
	height:3.6rem;
	
}
.product-item-content{
	width:80%;
	float: left;
	height:0.8rem
}
.product-item-img{
	width:20%;
	padding: 0.4rem 0;
	height:0.8rem
}
.product-item-img img{
	width:0.5rem;
	height:0.3rem
}
.process{
	background-image:url(../images/img5.png) ;
	width:100%;
	height:4.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.partner{
	background-image:url(../images/img16.png) ;
	width:100%;
	height:7.2rem;
	padding: 1rem 3.6rem;
}
.partner-title{
	width:100%;
	text-align: center;
}
.partner-list{
	width:100%;
	
}
.partner-item{
	width:20%;
	height:1.6rem;
	background-color: #fff;
	border-radius:0.1rem;
	float: left;
	margin: 2.5% 2.5% 0 2.5%;
}
.partner-item-img{
	width:100%;
	height:75%;
	padding:calc(50% - 1rem) 0;
	text-align: center;
}
.partner-item-img img{
	width:0.8rem;
	height:0.8rem;	
}
.partner-item-text{
	height:25%;
	text-align:center
}

.infomation{
	width:100%;
	padding: 0 1.5rem;
}
.infomation-title{
	width:100%;
	text-align: center;
	padding-top: 1.5rem;
}
.infomation-list{
	width:100%;
	padding-bottom: 1.5rem;
}

.infomation-item{
	width:30%;
	height:0.9rem;
	float: left;
	margin: 0.5rem 1.6%;
    overflow: hidden;
}
.infomation-item-time{
	border-right:1px solid #8f8f8f;
	width:17%;
	float: left;
}
.infomation-item-text{
	width:83%;
	float: left;
}
.infomation-item-text p{
	width:100%;
	height:50%;
	line-height: 0.45rem;
	margin-left: 0.3rem;
}
.contact{
	background-color: #f6f6f6;
	width:100%;
	height:4.5rem;
	padding: 1rem 2.7rem;
	
	
}
.contact-item{
	width:50%;
	float: left;
	
}
.contact-item-left{
	width:5rem;	
}
.contact-item-left-text{
	margin-top: 0.2rem;
	border-top:1px solid #8f8f8f
}
.button{
	
	margin-top: 0.5rem;
	width:3.5rem;
	
}
.button-item{
	float: left;
	border: 1px solid #8f8f8f;
	display: flex;
	width:1.4rem;
	height:0.35rem;
	line-height:0.35rem;
	font-size:0.12rem;
	color:#696969;
	justify-content: center;
	align-items: center;
	margin-right: 0.3rem;
}
.button-item img{
	width:0.15rem;
	height:0.15rem
}
.contact-item-right-text{
	height:2.36rem;
	margin-top: 0.2rem;
	border-top:1px solid #8f8f8f
}
.qrcode{
	
	margin-top: 0.3rem;
	
	
}
.map{
	width:100%;
	height:5.15rem
}
.footer{
	width:100%;
	height:4rem;
	background-color: #212121;
	
}
.footer-content{
	width:60%;
	margin: 0 auto;
	padding-top:1rem ;

}
.footer-item{
	width:20%;
    height:1.5rem;
	border-right:1px solid #636363;
	float: left;
}
.footer-item p{
	color:#636363;
	text-align: center;
}
.footer-item-img{
	height:1.28rem;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* 小程序 */
.program{
	height:8.3rem;
	text-align: center;
	padding: 1.5rem 0;
}
.program-image{
	margin-top: 0.5rem;
}

.advantages{
	background-image:url(../images/2-img6.png) ;
	width:100%;
	height:9.8rem;
	padding: 1.5rem 2.5rem;
}
.advantages-title{
	width:100%;
	text-align: center;
}
.advantages-item-left{
	float: left;
	width:32.5%;
	height:5rem;
	border-radius:2%;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#17ACF0), to(#8ADBFF));
	margin-top: 0.8rem;
	padding: 0.7rem 0.2rem;
    text-align: center;
}
.advantages-item-right{
	float: right;
	height:5rem;
	width:65.5%;
	margin-top: 0.8rem;
}
.advantages-right-top{
	height:2.3rem;
	display: flex;
	border:2px solid #fff;
	border-radius:0.1rem
}
.advantages-right-bottom{
	height:2.3rem;
	margin-top: 0.4rem;
	border:2px solid #fff;
	border-radius:0.1rem;
	display: flex;
}
.advantages-right-img{
	width:35%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.advantages-right-content{
	padding-right: 0.4rem;
}

.wxprocess{
	background-image:url(../images/2-img5.png) ;
	width:100%;
	height:4.3rem;
	padding: 1.1rem 4.8rem;
}
.wxprocess-title{
	width:100%;
	text-align: center;
}
.wxprocess-list{
	
	margin-top: 0.55rem;
}
.wxprocess-item{
	width:14%;
	text-align: center;
	float: left;
}
/* 网站开发 */
.website{
	background-image:url(../images/3-img2.png) ;
	width:100%;
	height:6.2rem;
	padding: 1.4rem 4rem;

}
.website-title{
	width:20%;	
	float: left;
}
.website-list{
	
	width:74%;
	float: right;
	
}
.website-item{
	width:30%;
	height:1.5rem;
	box-shadow:0 0 30px 5px #e5e5e5;
	padding: 0.2rem;
	float: left;
	margin:1.25%;
}
.website-item-left{
	width:50%;
	height:0.3rem;
	border-left:1px solid #a8a8a8;
	margin-top: 0.25rem;
}
.website-process{
	background-image:url(../images/3-img1.png) ;
	width:100%;
	height:7.2rem;
	padding: 1.5rem 3.9rem;
}
.website-process-title{
	width:100%;
	text-align: center;
}
.website-process-list{

	margin-top: 0.8rem;
}
.website-process-item{
	width:20%;
	text-align: center;
	float: left;
}
.website-process-img{
	width:1.7rem;
	height:1.7rem;
	border-radius:50%;
	border:2px solid #fff;
	line-height: 1.7rem;
}
.website-process-text{
	width:1.7rem;
	text-align: center;
	margin-top: 0.3rem;
}
/* APP开发 */
.app-process{
	width:100%;
	height:9.55rem;
	padding: 1.5rem;
}
.app-process-title{
	width:100%;
	text-align: center;
}
.app-process-img{
	margin-top: 0.8rem;

}
.app-process-img img{
	width:100%

}
.wecando{
	background-image:url(../images/4-img1.jpg) ;
	width:100%;
	height:5.8rem;
	padding: 1rem 4.45rem;
}
.wecando-title{
	width:100%;
	text-align: center;
}
.wecando-list{
	display: flex;

	justify-content: space-between;
	flex-wrap: wrap;
}
.wecando-item{
	width:40%;
	height:1rem;
	margin-top: 0.8rem;
	display: flex;
}
.wecando-item-img{
	width:20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wecando-item-content{
	margin-left: 0.34rem;
}
/* 案例 */
.change{
	padding: 0.8rem 0 0 1.05rem;
	height:2rem;
}
.change-items{
	display: flex;
}
.change-items p{
	margin-left: 0.3rem;
}
.recruit-list{
	padding: 1.1rem 1.5rem;
;
}
.recruit-item{
	height:4.1rem;
	width:30%;
	border-bottom: 1px solid #8c8c8c;
	border-top: 1px solid #8c8c8c;
	margin: 0.5rem 1.6%;
	padding: 1rem 0.2rem;
	float: left;
}
/* 关于我们 */
.introduce{
	height:8.4rem;
	width:100%;
	padding: 1.5rem 0;
}
.introduce-title{
	text-align: center;		
}
.introduce-list{
	height:1.2rem;
	padding: 0 3.5rem;
	
	margin-top: 1rem;
}
.introduce-item{
	width:33%;
	text-align: center;
	float: left;
}
.major{
	background-image:url(../images/4-img1.jpg);
	width:100%;
	height:8.55rem;
	padding: 1rem 2.1rem;
}
.major-title{
	text-align: center;	
}
.major-list{
	height:5.4rem;
	
	margin-top: 0.8rem;
}
.major-item{
	height:2.4rem;
	background: #fff;
	width:48%;
	float: left;
	margin: 1%;
}
.major-item-text{
	width:75%;
	padding: 0.75rem 0.4rem;
	float: left;
}
.major-item-img{
	width:25%;
	float: left;
	padding:8% 0;
	margin:0 auto;
}

.service{
	width:100%;
	height:9.85rem;
	padding: 1.5rem 4.2rem;
}
.service-title{
	text-align: center;
}
.service-list{
	width:100%;
	margin-top:0.8rem;
	
}
.service-list-top{
	width:100%;
	display: flex;
	height:0.4rem
}
.service-list-top .left{
	width:20%;
	text-align: center;
	line-height: 0.4rem;
	font-size:0.2rem;
	color: #fff;
	background:#B3A2FD;
	border-radius: 0.1rem;
}
.service-list-top .middle{
	width:52%;
	text-align: center;
	line-height: 0.4rem;
	font-size:0.2rem;
	color: #fff;
	background:#FDA2EB;
	margin-left: 4%;
	margin-right: 4%;
	border-radius: 0.1rem;
}
.service-list-top .right{
	width:20%;
	text-align: center;
	line-height: 0.4rem;
	font-size:0.2rem;
	color: #fff;
	background:#F4AA50;
	border-radius: 0.1rem;
}
.service-list-bottom{
	width:100%;
	display: flex;
	height:2.1rem;
	margin-top: 0.2rem;
}
.service-list-bottom .left{
	width:20%;
	text-align: center;

	background:#B3A2FD;
	border-radius: 0.1rem;
}
.service-list-bottom .middle{
	width:52%;
	margin-left: 4%;
	margin-right: 4%;
	display: flex;
	justify-content: space-between;
}
.service-list-bottom .middle .middle-item{
	width:32%;
	background:#FDA2EB;
	border-radius: 0.1rem;
}
.service-list-bottom .middle .middle-item .number{
	color:#FDA2EB;
}
.service-list-bottom .right{
	width:20%;
	text-align: center;
	background:#F4AA50;
	border-radius: 0.1rem;
}
.number{
	width:0.3rem;
	height:0.3rem;
	border-radius:50%;
	background: #fff;
	text-align: center;
	line-height: 0.3rem;
	font-size:0.2rem
}