<!DOCTYPE html>
<html lang="en">
	<head>
		<title>纯粹科技</title>
		<!-- custom-theme -->
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>纯粹科技-首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/basic.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/responsive.css" rel="stylesheet" type="text/css" />
		<link href="css/wxParse.css" rel="stylesheet" />
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<script src="js/rem.js"></script>
		<script src="js/include.js"></script>
		<link rel="stylesheet" href="css/css/magic.css">
		<link rel="stylesheet" href="css/animate/animate.min.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/browser.min.js"></script>
		<script src="js/base.js" type="application/javascript"></script>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript " src="js/bootstrap.js"></script>
	</head>
	<body style="background:#fff;">
		<header>
			<include src="header.html"></include>
		</header>
		<div id="app">


			<div class="container">
				<div class="banner clearfix" v-for="(item,index) in banner_info" v-show="index==banner_index">
					<image :src="item.url" />
					<div class="banner-item">
						<div class="animated bounceInLeft">
							<div class="banner-title">{{item.title}}</div>
							<div class="banner-small-title">{{item.small_title}}</div>
						</div>


						<div style="position: absolute;right:20px;top:50%;z-index:999;cursor: pointer" @click="changeBanner('+')">
							<image src="images/icon-right.png" />
						</div>
						<div style="position: absolute;left:20px;top:50%;z-index:999;cursor: pointer" @click="changeBanner('-')">
							<image src="images/icon-left.png" />
						</div>
					</div>
				</div>

				<div class="app-process">
					<div class="app-process-title">
						<p class="font40  color-333">哪些场景需要我们的服务？</p>
					</div>
					<div class="app-process-img">
						<image src="images/4-img.png">
					</div>
					<div class="app-process-imgTwo">
						<image src="images/4-imgTwo.png">
					</div>
				</div>

				<div class="wecando">
					<div class="wecando-title">
						<p class="font40   color-fff">我们能为你做什么？</p>
					</div>
					<div class="wecando-list  ">
						<div class="wecando-item">
							<div class="wecando-item-img">
								<image src="images/4-icon.png">
							</div>
							<div class="wecando-item-content">
								<p class="font20   color-fff">专业的技术</p>
								<p class="font16   color-fff margin-30">内容内容内容内容内容内容内容内容内容内容内容</p>
							</div>
						</div>
						<div class="wecando-item">
							<div class="wecando-item-img">
								<div class="wecando-item-img">
									<image src="images/4-icon1.png">
								</div>
							</div>
							<div class="wecando-item-content">
								<p class="font20   color-fff">完善的服务</p>
								<p class="font16   color-fff margin-30">内容内容内容内容内容内容内容内容内容内容内容</p>
							</div>
						</div>
						<div class="wecando-item">
							<div class="wecando-item-img">
								<div class="wecando-item-img">
									<image src="images/4-icon2.png">
								</div>
							</div>
							<div class="wecando-item-content">
								<p class="font20   color-fff">高端的开发</p>
								<p class="font16   color-fff margin-30">内容内容内容内容内容内容内容内容内容内容内容</p>
							</div>
						</div>
						<div class="wecando-item">
							<div class="wecando-item-img">
								<div class="wecando-item-img">
									<image src="images/4-icon3.png">
								</div>
							</div>
							<div class="wecando-item-content">
								<p class="font20   color-fff">安全的善后</p>
								<p class="font16   color-fff margin-30">内容内容内容内容内容内容内容内容内容内容内容</p>
							</div>
						</div>
					</div>
				</div>

				<div class="product clearfix">
					<div class="product-title">
						<p class="font40   color-333">全行业模式需求定制</p>
						<p class="font18   color-333 margin-25">大势所趋，快点参与进来吧</p>
					</div>

					<div class="product-list margin-50 clearfix ">
						<div class="product-item margin-30" @click="intoPath('caseDetail.html',item.id)" v-for="item in mainData" style="position: relative;">
							<div class="product-item-mainimg ">
								<image :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''">
									<div class="product-item-mainimg-mask">
										<div class="mask-qrcode">
											<image src="images/img4.png">
										</div>
									</div>
							</div>
							<div>
								<div class="product-item-content ">
									<p class="font18  margin-20 color-222">{{item.title}}</p>
									<p class="font14  margin-10 color-666">用户体验/微信小程序开发</p>
								</div>
								<div class="product-item-img">
									<image src="images/icon10.png">
								</div>
							</div>

						</div>

					</div>
				</div>

				<div class="fenye">
					<span>
						共:{{allPages}}页
					</span>
					<a class="pages backPage" data-type="back" @click="changePage">上一页</a>
					<span v-for="item in pageArray">
						<a v-if="item == paginate.currentPage" class="currentpages active">{{item}}</a>
						<a v-if="item != paginate.currentPage" class="currentpages" :data-page="item" @click="linkTo">{{item}}</a>
					</span>
					<a class="pages nextPage" data-type="next" @click="changePage">下一页</a>
					
				</div>
				<div class="infomation">
					<div class="infomation-title">
						<p class="font40   color-333">当每个价值共享，时刻记录企业发展步伐</p>
					</div>

					<div class="infomation-list margin-50 clearfix">
						<div class="infomation-item margin-50 clearfix"  v-for="(item,index) in newsData" v-if="index<6"  @click="intoPath('articleDetail.html',item.id)">
							<div class="infomation-item-time">
								<p class="font50   color-4f4e4e">{{item.day}}</p>
								<p class="font12   color-898989 ">{{item.date}}</p>
							</div>
							<div class="infomation-item-text">
								<p class="font16   color-696969 avoidOverflow">{{item.title}}</p>
								<p class="font12   color-898989  avoidOverflow">{{item.description}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="contact clearfix">
					<div class="contact-item">
						<div class="contact-item-left">
							<div class="contact-item-left-title">
								<p class="font16 color-333">Contact us</p>
								<div class="contact-item-left-text">
									<p class="font14 color-333 margin-30">ADD：<span class="font14 color-8f8f8f">陕西省西安市雁塔区高新大都荟A做座2007号</span></p>
									<p class="font14 color-333 margin-30">TEL：<span class="font14 color-8f8f8f">18092651090</span></p>
									<p class="font14 color-333 margin-30">WEB：<span class="font14 color-8f8f8f">www.solelytech.com</span></p>
									<div class="button clearfix">
										<a class="button-item" href="tencent://message/?uin=877854886&Site=Sambow&Menu=yes">
											<image src ="images/icon14.png" style="margin-right: 0.1rem;">
											<p style="margin-left: 0.1rem;">合作咨询</p>
										</a>
										<a class="button-item" href="tencent://message/?uin=877854886&Site=Sambow&Menu=yes">
											<image src ="images/icon14.png" style="margin-right: 0.1rem;">
											<p style="margin-left: 0.1rem;">技术服务</p>
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="contact-item">
						<div class="contact-item-left">
							<div class="contact-item-left-title">
								<p class="font16 color-333">Wechat</p>
								<div class="contact-item-right-text">
									<div class="qrcode">
										<image src="images/qrcode.png">
										<image src="images/qrcode.png">
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="map">
					<div id="dituContent" style="min-height:5.15rem;overflow:hidden;"></div>
				</div>
				<div class="consult">
					<div class="consult_cont">
						<div class="consult_top" @mouseover="enter(9)">
							<img src="images/consult.png">
							<a href="tel:18092651090"></a>
						</div>
						<div class="consult_bottom">
							<div class="consult_method">
								<div class="line_right" @mouseover="enter(9)"></div>

								<ul>
									<li>
										<a @mouseover="enter(0)" @mouseout="leave(9)" @click="click_leave(0)">
											<img src="images/qq_bg.png" class="consult_img">
											<span data-id="0" class="hidden-sm">客服微信</span>
											<div class="qq_icon" :class="wx_show == 0?'contact_show':'contact_hidden'">
												<p class="qq_text">客服微信:18092651090</p>
												<div class="qrcode11" style="margin-top: 0;">
													<img src="images/qrcode1.jpg" />
												</div>
											</div>
										</a>
									</li>
									<li data-id="1">
										<a @mouseover="enter(1)" @mouseout="leave(9)" @click="click_leave(1)">
											<img src="images/wx_con.png" class="consult_img">
											<span data-id="1" class="hidden-sm">官方微信</span>
											<div class="qq_icon" :class="wx_show == 1?'contact_show':'contact_hidden'">
												<p class="qq_text">官方微信:18092651090</p>
												<div class="qrcode11" style="margin-top: 0;">
													<img src="images/qrcode.jpg" />
												</div>
											</div>
										</a>
									</li>
									<li>
										<a class="back_top" @mouseover="enter(2)" @mouseout="leave(9)" onclick="back_top()">
											<img src="images/to_top.png" data-id="2" @mouseover="enter" @mouseout="leave">
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="qq_icon" :class="wx_show == 1?'contact_show':'contact_hidden'">
				    <p class="qq_text">官方微信:18092651090</p>
				    <div class="qrcode11" style="margin-top: 0;">
				        <img src="images/qrcode.jpg"/>
				    </div>
					
				</div>
				<div class="qq_icon":class="wx_show == 0?'contact_show':'contact_hidden'">
				    <p class="qq_text">客服微信:18092651090</p>
				    <div class="qrcode11" style="margin-top: 0;">
				        <img src="images/qrcode1.jpg"/>
				    </div>
				</div>
				<div class="marketing">
					<a class="marketing-item" href="tel:18092651090">
						一键拨号
					</a>
					<div class="marketing-item" @click="phoneMarketing(0)">
						客服微信
					</div>
					<div class="marketing-item" @click="phoneMarketing(1)">
						官方微信
					</div>
				</div>
			</div>
			<include src="footer.html"></include>
		</div>
	</body>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data() {
				return {
					banner_index: 0,
					is_toggle: true,
					is_show:false,
					wx_show:2,
					mainData: [],
					labelData: [],
					newsData: [],
					pageArray: [],

					allPages: 0,
					linkPage: '',
					paginate: {
						count: 0,
						currentPage: 1,
						pagesize: 6,
						is_page: true,
					},
					searchItem: {
						thirdapp_id: 22,
						passage1: 155
					},
					searchItemTwo: {
						thirdapp_id: 22,
					
					},
					banner_info: [

						{
							url: 'images/4-banner.jpg',
							title: '',
							small_title: ''
						}
					]
				}
			},
			created() {
				const self = this;
				self.init()
			},

			methods: {
				init: function(e) {
					const self = this;
					console.log(666);
					self.getMainData();
					self.getNewsData()
				},

				getMainData: function(id) {
					var self = this;
					var postData = {};
					postData.paginate = window.base.cloneForm(self.paginate);
					postData.searchItem = window.base.cloneForm(self.searchItem);
					var callback = (res) => {
						console.log('getMainData', res);
						self.mainData.push.apply(self.mainData, res.info.data)
						self.paginate['count'] = res.info.total;
						window.base.computePageArr(self);
					};
					window.base.articleList(postData, callback);
				},

				getNewsData: function(id){
				    var self = this;
				    var postData = {};
				    postData.paginate = window.base.cloneForm(self.paginate);
				    postData.searchItem = window.base.cloneForm(self.searchItemTwo);
					postData.getBefore ={
					 	caseData:{
					    tableName:'Label',
					    searchItem:{
					      title:['=',['app新闻']]
					    },
					    middleKey:'menu_id',
					    key:'id',
					    condition:'in',
						},
					};
				    var callback = (res) => {
				        
				        self.newsData.push.apply(self.newsData,res.info.data)
						for (var i = 0; i < self.newsData.length; i++) {
							self.newsData[i].date=self.newsData[i].create_time.substring(0,7);
							self.newsData[i].day=self.newsData[i].create_time.substring(8,10);
						}
						console.log('self.newsData',self.newsData)
				    };
				    window.base.articleList(postData, callback);
				},

				changeBanner: function(type) {
					const self = this;

					if (type == '+') {
						console.log(8852)
						self.banner_index += 1;
					} else if ((type == '-')) {
						self.banner_index -= 1;
					};
					console.log(self.banner_index);
					if (self.banner_index < 0) {
						self.banner_index = self.banner_info.length - 1
					};
					if (self.banner_index == self.banner_info.length) {
						self.banner_index = 0
					};
					console.log(self.banner_index);

				},

				intoPath: function(url, id) {
					const self = this;
					var toUrl = url;
					console.log(toUrl);
					window.location.href = toUrl + '?id=' + id;

				},

				changePage(e) {
					var self = this;
					var dataSet = window.base.getDataSet(e);
					window.base.changePage(dataSet, self);
				},

				linkTo(e) {
					var self = this;
					console.log(e);
					self.linkPage = window.base.getDataSet(e).page;
					window.base.linkTo(self);
				},
				consult: function(e) {
					var self = this;
					self.is_show = !self.is_show;
				},
				mask: function(e) {
					var self = this;
					self.is_show = false;
				},
				enter(index) {
					var self = this;
					var cursorId = index;
					self.wx_show = cursorId;

				},
				leave(index) {
					var self = this;
					var cursorId1 = index;
					self.wx_show = cursorId1;
				},
				click_leave(index) {
					var self = this;
					var cursorId1 = index;
					self.wx_show = cursorId1;
				}
			}
		});
	</script>
	<script>
		function back_top() {
			document.body.scrollTop = document.documentElement.scrollTop = 0;
		}
	</script>
	<script type="text/javascript">
		function initMap() {
			createMap();
			setMapEvent();
			addMapControl();
			addMarker();
		}

		function createMap() {
			var map = new BMap.Map("dituContent");

			var point = new BMap.Point(108.900502, 34.24334);
			map.centerAndZoom(point, 17);
			window.map = map;


		}

		function setMapEvent() {
			map.enableDragging();
			map.enableScrollWheelZoom();
			map.enableDoubleClickZoom();
			map.enableKeyboard();
			map.setMapStyle({
				styleJson: [{
					"featureType": "all",
					"elementType": "all",
					"stylers": {
						"lightness": 10,
						"saturation": -100
					}
				}]
			});
		}

		function addMapControl() {
			var ctrl_nav = new BMap.NavigationControl({
				anchor: BMAP_ANCHOR_TOP_LEFT,
				type: BMAP_NAVIGATION_CONTROL_LARGE
			});
			map.addControl(ctrl_nav);
			var ctrl_ove = new BMap.OverviewMapControl({
				anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
				isOpen: 1
			});
			map.addControl(ctrl_ove);
			var ctrl_sca = new BMap.ScaleControl({
				anchor: BMAP_ANCHOR_BOTTOM_LEFT
			});
			map.addControl(ctrl_sca);

		}
		var markerArr = [{
			title: "纯粹云信息科技有限公司",
			content: "电话:18092651090",
			point: "108.900502|34.24334",
			isOpen: 0,
			icon: {
				w: 23,
				h: 25,
				l: 46,
				t: 21,
				x: 9,
				lb: 12
			}
		}];

		function addMarker() {
			for (var i = 0; i < markerArr.length; i++) {
				var json = markerArr[i];
				var p0 = json.point.split("|")[0];
				var p1 = json.point.split("|")[1];
				var point = new BMap.Point(p0, p1);
				var iconImg = createIcon(json.icon);
				var marker = new BMap.Marker(point, {
					icon: iconImg
				});
				var iw = createInfoWindow(i);
				var label = new BMap.Label(json.title, {
					"offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20)
				});
				marker.setLabel(label);
				map.addOverlay(marker);
				label.setStyle({
					borderColor: "transparent",
					color: "#000",
					cursor: "pointer",
				});

				(function() {
					var index = i;
					var _iw = createInfoWindow(i);
					var _marker = marker;
					_marker.addEventListener("click", function() {
						this.openInfoWindow(_iw);
					});
					_iw.addEventListener("open", function() {
						_marker.getLabel().hide();
					})
					_iw.addEventListener("close", function() {
						_marker.getLabel().show();
					})
					label.addEventListener("click", function() {
						_marker.openInfoWindow(_iw);
					})
					if (!!json.isOpen) {
						label.hide();
						_marker.openInfoWindow(_iw);
					}
				})()
			}
		}

		function createInfoWindow(i) {
			var json = markerArr[i];
			var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title +
				"</b><div class='iw_poi_content'>" + json.content + "</div>");
			return iw;
		}

		function createIcon(json) {
			var icon = new BMap.Icon("images/us_mk_icon.png", new BMap.Size(json.w, json.h), {
				imageOffset: new BMap.Size(-json.l, -json.t),
				infoWindowOffset: new BMap.Size(json.lb + 5, 1),
				offset: new BMap.Size(json.x, json.h)
			})
			return icon;
		}

		initMap();
	</script>
</html>
