<html lang="zh-CN">
	<head>
		<title>纯粹科技</title>
		<!-- custom-theme -->
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>纯粹科技-首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/basic.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/responsive.css" rel="stylesheet" type="text/css" />
		<link href="css/wxParse.css" rel="stylesheet" />
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<script src="js/rem.js"></script>
		<script src="js/include.js"></script>
		<link rel="stylesheet" href="css/css/magic.css">
		<link rel="stylesheet" href="css/animate/animate.min.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/browser.min.js"></script>
		<script src="js/base.js" type="application/javascript"></script>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript " src="js/bootstrap.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true&ak=M9C0DhYUo81Io76oZlaPQ1xoZcycRqwB"></script>
	</head>
	<body style="background:#fff;">
	<header>
		<include src="header.html"></include>
	</header>
	<div id="app">
	
	<div class="container">
		<div class="banner clearfix" v-for="(item,index) in banner_info" v-show="index==banner_index">
			<image :src="item.url" />
			<div  class="banner-item">
				<div  class="animated bounceInLeft">
					<div  class="banner-title" >{{item.title}}</div>
					<div  class="banner-small-title">{{item.small_title}}</div>
				</div>
				
						
				<div style="position: absolute;right:20px;top:50%;z-index:999;cursor: pointer" @click="changeBanner('+')">
					<image src="images/icon-right.png" />
				</div>
				<div style="position: absolute;left:20px;top:50%;z-index:999;cursor: pointer" @click="changeBanner('-')">
					<image src="images/icon-left.png" />
				</div>
			</div>
		</div>
		
		<div class="program">
			<div class="program-title">
				<p class="font38   color-333">企业为什么要做小程序?</p>
				<p class="font16   color-333 margin-20">节省成本、提高效率、用户体验更好、是企业互联网+的流量入口</p>
			</div>
			
			<div class="program-image">
				<image src="images/2-img.png" />
			</div>
		</div>
		<div class="advantages clearfix">
			<div class="advantages-title">
				<p class="font40   color-fff">我们的优势</p>
				<p class="font18   color-fff margin-25">Our advantages</p>
			</div>
			<div class="advantages-list clearfix">
				<div class="advantages-item-left">
					<image src="images/2-icon.png">
					<p class="font26 color-fff margin-40">专属定制开发</p>
					<p class="font16 color-fff margin-30">我们拥有专业的开发团队，为您提供个性化高品质的互联网软件定制开发服务，根据行业特性捕捉用户每个细微需求，制定合理的开发方案。满足不同场景下的用户需求，增加用户体验度，提高留存率。帮助品牌企业一站式了解移动零售业务问题。</p>
				</div>
				<div class="advantages-item-right clearfix">
					<div class="advantages-right-top">
						<div class="advantages-right-img">
							<image src="images/2-icon2.png">
						</div>
						<div class="advantages-right-content">
							<div class="advantages-title margin-40">
								<p class="font26   color-fff">微信代运营(一站式网络营销推广)</p>
							</div>
							<p class="font16 color-fff margin-25">我们拥有专业的运营团队及成熟的营销经验，深入到每个营销环节，针对性地提高用户体验感，提供一站式的行业解决方案是您的平台更具特色，将您的业务推至全新的高度。</p>
						</div>
					</div>
					<div class="advantages-right-bottom">
						<div class="advantages-right-img">
							<image src="images/2-icon3.png">
						</div>
						<div class="advantages-right-content">
							<div class="advantages-title margin-40">
								<p class="font26   color-fff">微信代运营(一站式网络营销推广)</p>
							</div>
							<p class="font16 color-fff margin-25">我们拥有专业的运营团队及成熟的营销经验，深入到每个营销环节，针对性地提高用户体验感，提供一站式的行业解决方案是您的平台更具特色，将您的业务推至全新的高度。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="product-title">
				<p class="font40   color-333">全行业模式需求定制</p>
				<p class="font18   color-333 margin-25">大势所趋，快点参与进来吧</p>
			</div>
		
			<div class="product-list margin-50 clearfix ">
				<div class="product-item margin-30" @click="intoPath('caseDetail.html',item.id)" v-for="item in mainData" style="position: relative;">
					<div class="product-item-mainimg ">
						<image :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''">
						<div class="product-item-mainimg-mask">
							<div class="mask-qrcode">
								<image src="images/img4.png">
							</div>
						</div>
					</div>
					<div >
						<div class="product-item-content ">
							<p class="font18  margin-20 color-222">{{item.title}}</p>
							<p class="font14  margin-10 color-666">用户体验/微信小程序开发</p>
						</div>
						<div class="product-item-img">
							<image src="images/icon10.png">
						</div>
					</div>
		
				</div>
			
			</div>
		</div>
		<div class="fenye">
		    <span>
		        共:{{allPages}}页
		    </span>
		    <a class="pages backPage" data-type="back" @click="changePage">上一页</a>
		    <span v-for="item in pageArray">
		        <a v-if="item == paginate.currentPage" class="currentpages active" >{{item}}</a>
		        <a v-if="item != paginate.currentPage" class="currentpages" :data-page="item"  @click="linkTo">{{item}}</a>
		    </span>
		    <a class="pages nextPage" data-type="next" @click="changePage">下一页</a>
		    <span>
		        跳转至：
		        <input style="border:1px solid black;" :data-page="linkPage" v-model="linkPage" @blur="linkTo" />
		    </span>
		</div>
		<div class="wxprocess">
			<div class="wxprocess-title">
				<p class="font26   color-fff">微信开发流程</p>
				<p class="font18   color-fff margin-10">完善的流程，让您后顾无忧</p>
			</div>
			
			<div class="wxprocess-list clearfix">
				<div class="wxprocess-item">
					<image src="images/2-icon4.png">
					<p class="font16   color-fff margin-15">需求分析</p>
				</div>
				<div class="wxprocess-item">
					<image src="images/2-icon5.png">
					<p class="font16   color-fff margin-15">方案制定</p>
				</div>
				<div class="wxprocess-item">
					<image src="images/2-icon6.png">
					<p class="font16   color-fff margin-15">确定方案</p>
				</div>
				<div class="wxprocess-item">
					<image src="images/2-icon7.png">
					<p class="font16   color-fff margin-15">签订合同</p>
				</div>
				<div class="wxprocess-item">
					<image src="images/2-icon8.png">
					<p class="font16   color-fff margin-15">项目实施</p>
				</div>
				<div class="wxprocess-item">
					<image src="images/2-icon9.png">
					<p class="font16   color-fff margin-15">项目交付</p>
				</div>
				<div class="wxprocess-item">
					<image src="images/2-icon10.png">
					<p class="font16   color-fff margin-15">贴心售后</p>
				</div>
			</div>
		</div>
		
		<div class="contact clearfix">
			<div class="contact-item">
				<div class="contact-item-left">
					<div class="contact-item-left-title">
						<p class="font16 color-333">Contact us</p>
						<div class="contact-item-left-text">
							<p class="font14 color-333 margin-30">ADD：<span class="font14 color-8f8f8f">陕西省西安市雁塔区高新大都荟A做座2007号</span></p>
							<p class="font14 color-333 margin-30">TEL：<span class="font14 color-8f8f8f">18092651090</span></p>
							<p class="font14 color-333 margin-30">WEB：<span class="font14 color-8f8f8f">www.solelytech.com</span></p>
							<div class="button clearfix">
								<div class="button-item">
									<image src ="images/icon14.png" style="margin-right: 0.1rem;">
									<p style="margin-left: 0.1rem;">合作咨询</p>
								</div>
								<div class="button-item">
									<image src ="images/icon14.png" style="margin-right: 0.1rem;">
									<p style="margin-left: 0.1rem;">技术服务</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="contact-item">
				<div class="contact-item-left">
					<div class="contact-item-left-title">
						<p class="font16 color-333">Wechat</p>
						<div class="contact-item-right-text">
							<div class="qrcode">
								<image src ="images/qrcode.png">
								<image src ="images/qrcode.png">
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="map">
		    <div id="dituContent" style="min-height:5.15rem;overflow:hidden;"></div>
		</div>
		</div>

		<include src="footer.html"></include>
		</div>
	</body>
	
	<script type="text/javascript">
		var app = new Vue({
		    el: '#app',
		    data(){
		        return {
		        	banner_index:0,
		        	is_toggle:true,
					mainData: [],
					labelData: [],
					newsData:[],
					pageArray: [],
					
					allPages: 0,
					linkPage: '',
					paginate: { 
					    count: 0, 
					    currentPage: 1, 
					    pagesize:6, 
					    is_page: true, 
					},
					searchItem:{ thirdapp_id: 22,passage1:154},
					banner_info:[
					
						{url:'images/2-banner.png',title:'',small_title:''}
					]
		        }
		    },
		    created () {
		        const self = this;
				self.init()
		    },
			
		    methods: {
		        init: function (e) {
		            const self = this;
					console.log(666);
					self.getMainData();
		        },
		        
				getMainData: function(id){
				    var self = this;
				    var postData = {};
				    postData.paginate = window.base.cloneForm(self.paginate);
				    postData.searchItem = window.base.cloneForm(self.searchItem);
				    var callback = (res) => {
				        console.log('getMainData', res);
				        self.mainData.push.apply(self.mainData,res.info.data)
						self.paginate['count'] = res.info.total;
						window.base.computePageArr(self);
				    };
				    window.base.articleList(postData, callback);
				},
				
				
	
		    	changeBanner: function(type) {
		    		const self = this;
		    	
		    		if(type=='+'){
		    			console.log(8852)
		    			self.banner_index += 1;
		    		}else if((type=='-')){
		    			self.banner_index -= 1;
		    		};
		    		console.log(self.banner_index);
		    		if(self.banner_index<0){
		    			self.banner_index = self.banner_info.length-1
		    		};
		    		if(self.banner_index==self.banner_info.length){
		    			self.banner_index = 0
		    		};
		    		console.log(self.banner_index);
		    		
		    	},
				
				intoPath:function(url,id){
				    const self = this;
				    var toUrl = url;
				    console.log(toUrl);
				    window.location.href= toUrl+'?id='+id;
				
				},
				
				changePage(e) {
				    var self = this;
				    var dataSet = window.base.getDataSet(e);
				    window.base.changePage(dataSet, self);
				},
							
				linkTo(e) {
				    var self = this;
				    console.log(e);
				    self.linkPage = window.base.getDataSet(e).page;
				    window.base.linkTo(self);
				},
		    }
		});
	</script>
	
	<script type="text/javascript">
	
	    function initMap(){
	        createMap();
	        setMapEvent();
	        addMapControl();
	        addMarker();
	    }
	    
	    function createMap(){
	        var map = new BMap.Map("dituContent");

	        var point = new BMap.Point(108.900502,34.24334);
	        map.centerAndZoom(point,17);
	        window.map = map;
			
		
	    }
	    
	    function setMapEvent(){
	        map.enableDragging();
	        map.enableScrollWheelZoom();
	        map.enableDoubleClickZoom();
	        map.enableKeyboard();
			
	    }
	    
	    function addMapControl(){ 
	    var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
	    map.addControl(ctrl_nav);
	    var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
	    map.addControl(ctrl_ove);
	    var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	    map.addControl(ctrl_sca);
		
	    }
		var markerArr = [{title:"纯粹云信息科技有限公司",content:"电话:18092651090",point:"108.900502|34.24334",isOpen:0,icon:{w:23,h:25,l:46,t:21,x:9,lb:12}}
	     ];
	    
	    function addMarker(){
	        for(var i=0;i<markerArr.length;i++){
	            var json = markerArr[i];
	            var p0 = json.point.split("|")[0];
	            var p1 = json.point.split("|")[1];
	            var point = new BMap.Point(p0,p1);
	            var iconImg = createIcon(json.icon);
	            var marker = new BMap.Marker(point,{icon:iconImg});
	            var iw = createInfoWindow(i);
	            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
	            marker.setLabel(label);
	            map.addOverlay(marker);
	            label.setStyle({
	                        borderColor:"transparent",
	                        color:"#000",
	                        cursor:"pointer",
	            });
	            
	            (function(){
	                var index = i;
	                var _iw = createInfoWindow(i);
	                var _marker = marker;
	                _marker.addEventListener("click",function(){
	                    this.openInfoWindow(_iw);
	                });
	                _iw.addEventListener("open",function(){
	                    _marker.getLabel().hide();
	                })
	                _iw.addEventListener("close",function(){
	                    _marker.getLabel().show();
	                })
	                label.addEventListener("click",function(){
	                    _marker.openInfoWindow(_iw);
	                })
	                if(!!json.isOpen){
	                    label.hide();
	                    _marker.openInfoWindow(_iw);
	                }
	            })()
	        }
	    }
	    function createInfoWindow(i){
	        var json = markerArr[i];
	        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
	        return iw;
	    }
	    function createIcon(json){
	        var icon = new BMap.Icon("images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
	        return icon;
	    }
	    
	    initMap();
	</script>
</html>
