<!DOCTYPE html>
<html lang="en">
	<head>
		<title>纯粹科技</title>
		<!-- custom-theme -->
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>纯粹科技-首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/basic.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link href="css/responsive.css" rel="stylesheet" type="text/css" />
		<link href="css/wxParse.css" rel="stylesheet" />
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<script src="js/rem.js"></script>
		<script src="js/include.js"></script>
		<link rel="stylesheet" href="css/css/magic.css">
		<link rel="stylesheet" href="css/animate/animate.min.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="js/browser.min.js"></script>
		<script src="js/base.js" type="application/javascript"></script>
		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript " src="js/bootstrap.js"></script>
		<script src="js/jquery.waypoints.min.js"></script>
	</head>
	<body style="background:#fff;">
		<header>
			<include src="header.html"></include>
		</header>
		<div id="app">

			<div class="container">
				<div class="banner clearfix" v-for="(item,index) in banner_info" v-show="index==banner_index">
					<image :src="item.url" />
					<div class="banner-item">
						<div class="animated bounceInLeft banner-mainTitle">
							<div class="banner-title">{{item.title}}</div>
							<div class="banner-small-title">{{item.small_title}}</div>
						</div>

						<div class="animated bounceInRight banner-imgIcon">
							<image :src="item.iconUrl" />
						</div>
						<div style="position: absolute;right:20px;top:50%;z-index:999;cursor: pointer" @click="changeBanner('+')">
							<image src="images/icon-right.png" />
						</div>
						<div style="position: absolute;left:20px;top:50%;z-index:999;cursor: pointer" @click="changeBanner('-')">
							<image src="images/icon-left.png" />
						</div>
					</div>
				</div>

				<div class="website">
					<div class="website-title">
						<p class="font20   color-b9b9b9">WEBSITE ADVANTAGE</p>
						<p class="font22  margin-15 color-292929">网站优势</p>
						<p class="font14  margin-75 color-b9b9b9">专业提供以互联网为基础的信息化系统软件解决方案</p>
					</div>
					<div class="website-list">
						<div class="website-item">
							<p class="font14  color-5c5c5c">极致视觉设计</p>
							<p class="font10  color-a8a8a8">The visual design</p>
							<div class="website-item-left"></div>
							<p class="font10  color-a8a8a8 margin-10">01</p>
						</div>
						<div class="website-item">
							<p class="font14  color-5c5c5c">响应式</p>
							<p class="font10  color-a8a8a8">The visual design</p>
							<div class="website-item-left"></div>
							<p class="font10  color-a8a8a8 margin-10">02</p>
						</div>
						<div class="website-item">
							<p class="font14  color-5c5c5c">H5/CSS3标准</p>
							<p class="font10  color-a8a8a8">The visual design</p>
							<div class="website-item-left"></div>
							<p class="font10  color-a8a8a8 margin-10">03</p>
						</div>
						<div class="website-item">
							<p class="font14  color-5c5c5c">VUE原创后台管理系统</p>
							<p class="font10  color-a8a8a8">The visual design</p>
							<div class="website-item-left"></div>
							<p class="font10  color-a8a8a8 margin-10">04</p>
						</div>
						<div class="website-item">
							<p class="font14  color-5c5c5c">基础的SEO优化</p>
							<p class="font10  color-a8a8a8">The visual design</p>
							<div class="website-item-left"></div>
							<p class="font10  color-a8a8a8 margin-10">05</p>
						</div>
						<div class="website-item">
							<p class="font14  color-5c5c5c">一站式服务</p>
							<p class="font10  color-a8a8a8">The visual design</p>
							<div class="website-item-left"></div>
							<p class="font10  color-a8a8a8 margin-10">06</p>
						</div>
					</div>
				</div>

				<div class="website-process">
					<div class="website-process-title">
						<p class="font26   color-fff">建站流程</p>
						<p class="font18   color-fff margin-10">更多选择，为您提供更优质的资源</p>
					</div>

					<div class="website-process-list">
						<div class="website-process-item">

							<div class="website-process-img" >
								
								<image src="images/3-icon4.png" class="website-process-img-img">
							</div>
							<div class="website-process-text">
								<p class="font18   color-fff ">需求沟通</p>
								<p class="font16   color-fff margin-25">倾听客户需求，链接用户使用环境和操作流程</p>
							</div>
						</div>
						<div class="website-process-item">
							<div class="website-process-img">
								<image src="images/3-icon5.png"  class="website-process-img-img">
							</div>
							<div class="website-process-text">
								<p class="font18   color-fff ">视觉设计</p>
								<p class="font16   color-fff margin-25">色彩及平面元素设计，结构和布局规范确认</p>
							</div>
						</div>
						<div class="website-process-item">
							<div class="website-process-img">
								<image src="images/3-icon6.png"  class="website-process-img-img">
							</div>
							<div class="website-process-text">
								<p class="font18   color-fff ">前端制作</p>
								<p class="font16   color-fff margin-25">CSS.JS.HTML5实现页面的动态展示</p>
							</div>
						</div>
						<div class="website-process-item">
							<div class="website-process-img">
								<image src="images/3-icon7.png"  class="website-process-img-img">
							</div>
							<div class="website-process-text">
								<p class="font18   color-fff ">程序开发</p>
								<p class="font16   color-fff margin-25">移动应用数据对接与开发</p>
							</div>
						</div>
						<div class="website-process-item">
							<div class="website-process-img">
								<image src="images/3-icon8.png"  class="website-process-img-img">
							</div>
							<div class="website-process-text">
								<p class="font18   color-fff ">测试反馈</p>
								<p class="font16   color-fff margin-25">修改调整，规范完善</p>
							</div>
						</div>

					</div>
				</div>

				<div class="product clearfix">
					<div class="product-title">
						<p class="font40   color-333">产品，让客户充分放心</p>
						<p class="font18   color-333 margin-25">Peoduct，let customers rest assured</p>
					</div>

					<div class="product-list margin-50 clearfix" id="productList">
						<div class="product-item margin-30 to_animate_one" @click="intoPath('caseDetail.html',item.id)" v-for="item in mainData" style="position: relative;">
							<div class="product-item-mainimg ">
								<image :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''">
									<div class="product-item-mainimg-mask">
										<div class="mask-qrcode">
											<image src="images/img4.png">
										</div>
									</div>
							</div>
							<div>
								<div class="product-item-content ">
									<p class="font18  margin-20 color-222">{{item.title}}</p>
									<p class="font14  margin-10 color-666">用户体验/微信小程序开发</p>
								</div>
								<div class="product-item-img">
									<image src="images/icon10.png">
								</div>
							</div>

						</div>

					</div>
				</div>

				<div class="contact clearfix">
					<div class="contact-item">
						<div class="contact-item-left">
							<div class="contact-item-left-title">
								<p class="font16 color-333">Contact us</p>
								<div class="contact-item-left-text">
									<p class="font14 color-333 margin-30">ADD：<span class="font14 color-8f8f8f">陕西省西安市雁塔区高新大都荟A做座2007号</span></p>
									<p class="font14 color-333 margin-30">TEL：<span class="font14 color-8f8f8f">18092651090</span></p>
									<p class="font14 color-333 margin-30">WEB：<span class="font14 color-8f8f8f">www.solelytech.com</span></p>
									<div class="button clearfix">
										<a class="button-item" href="tencent://message/?uin=877854886&Site=Sambow&Menu=yes">
											<image src="images/icon14.png" style="margin-right: 0.1rem;">
												<p style="margin-left: 0.1rem;">合作咨询</p>
										</a>
										<a class="button-item" href="tencent://message/?uin=877854886&Site=Sambow&Menu=yes">
											<image src="images/icon14.png" style="margin-right: 0.1rem;">
												<p style="margin-left: 0.1rem;">技术服务</p>
										</a>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="contact-item">
						<div class="contact-item-left">
							<div class="contact-item-left-title">
								<p class="font16 color-333">Wechat</p>
								<div class="contact-item-right-text">
									<div class="qrcode">
										<image src="images/qrcode.png">
											<image src="images/qrcode.png">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="map">
					<div id="dituContent" style="min-height:5.15rem;overflow:hidden;"></div>
				</div>
				<div class="consult">
					<div class="consult_cont">
						<div class="consult_top" @mouseover="enter(9)">
							<img src="images/consult.png">
							<a href="tel:18092651090"></a>
						</div>
						<div class="consult_bottom">
							<div class="consult_method">
								<div class="line_right" @mouseover="enter(9)"></div>

								<ul>
									<li>
										<a @mouseover="enter(0)" @mouseout="leave(9)" @click="click_leave(0)">
											<img src="images/qq_bg.png" class="consult_img">
											<span data-id="0" class="hidden-sm">客服微信</span>
											<div class="qq_icon" :class="wx_show == 0?'contact_show':'contact_hidden'">
												<p class="qq_text">客服微信:18092651090</p>
												<div class="qrcode11" style="margin-top: 0;">
													<img src="images/qrcode1.jpg" />
												</div>
											</div>
										</a>
									</li>
									<li data-id="1">
										<a @mouseover="enter(1)" @mouseout="leave(9)" @click="click_leave(1)">
											<img src="images/wx_con.png" class="consult_img">
											<span data-id="1" class="hidden-sm">官方微信</span>
											<div class="qq_icon" :class="wx_show == 1?'contact_show':'contact_hidden'">
												<p class="qq_text">官方微信:18092651090</p>
												<div class="qrcode11" style="margin-top: 0;">
													<img src="images/qrcode.jpg" />
												</div>
											</div>
										</a>
									</li>
									<li>
										<a class="back_top" @mouseover="enter(2)" @mouseout="leave(9)" onclick="back_top()">
											<img src="images/to_top.png" data-id="2" @mouseover="enter" @mouseout="leave">
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="qq_icon1" :class="wx_show == 1?'contact_show':'contact_hidden'">
					<p class="qq_text">官方微信:18092651090</p>
					<div class="qrcode11" style="margin-top: 0;">
						<img src="images/qrcode.jpg" />
					</div>

				</div>
				<div class="qq_icon1" :class="wx_show == 0?'contact_show':'contact_hidden'">
					<p class="qq_text">客服微信:18092651090</p>
					<div class="qrcode11" style="margin-top: 0;">
						<img src="images/qrcode1.jpg" />
					</div>
				</div>
				<div class="marketing">
					<a class="marketing-item" href="tel:18092651090">
						一键拨号
					</a>
					<div class="marketing-item" @click="phoneMarketing(0)">
						客服微信
					</div>
					<div class="marketing-item" @click="phoneMarketing(1)">
						官方微信
					</div>
				</div>
			</div>

			<include src="footer.html"></include>
		</div>
	</body>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data() {
				return {
					banner_index: 0,
					is_toggle: true,
					is_show: false,
					wx_show: 2,
					mainData: [],
					labelData: [],
					newsData: [],
					pageArray: [],

					allPages: 0,
					linkPage: '',
					paginate: {
						count: 0,
						currentPage: 1,
						pagesize: 9,
						is_page: true,
					},
					searchItem: {
						thirdapp_id: 22,
						passage1: 153
					},
					banner_info: [{
							url: 'images/new/img1.jpg',
							title: '专业网站开发',
							small_title: '更专注于行业特色 贴合用户使用习惯',
							iconUrl: 'images/element/element-9.png'
						},

						{
							url: 'images/new/img1.jpg',
							title: '专业网站开发2 ',
							small_title: '更专注于行业特色2 贴合用户使用习惯2',
							iconUrl: 'images/element/element-10.png'
						}
					]
				}
			},
			created() {
				const self = this;
				self.init()
			},


			phoneMarketing: function(index) {
				const self = this;
				if (index == self.wx_show) {
					self.wx_show = 2
				} else {
					self.wx_show = index
				}

				console.log('self.wx_show', self.wx_show)
			},


			methods: {
				init: function(e) {
					const self = this;
					console.log(666);
					self.getMainData();
				},

				getMainData: function(id) {
					var self = this;
					var postData = {};
					postData.paginate = window.base.cloneForm(self.paginate);
					postData.searchItem = window.base.cloneForm(self.searchItem);
					var callback = (res) => {
						console.log('getMainData', res);
						self.mainData.push.apply(self.mainData, res.info.data);
						self.paginate['count'] = res.info.total;
						window.base.computePageArr(self);

					};
					window.base.articleList(postData, callback);
				},


				changeBanner: function(type) {
					const self = this;

					if (type == '+') {
						console.log(8852)
						self.banner_index += 1;
					} else if ((type == '-')) {
						self.banner_index -= 1;
					};
					console.log(self.banner_index);
					if (self.banner_index < 0) {
						self.banner_index = self.banner_info.length - 1
					};
					if (self.banner_index == self.banner_info.length) {
						self.banner_index = 0
					};
					console.log(self.banner_index);

				},

				intoPath: function(url, id) {
					const self = this;
					var toUrl = url;
					console.log(toUrl);
					window.location.href = toUrl + '?id=' + id;

				},

				changePage(e) {
					var self = this;
					var dataSet = window.base.getDataSet(e);
					window.base.changePage(dataSet, self);
				},

				linkTo(e) {
					var self = this;
					console.log(e);
					self.linkPage = window.base.getDataSet(e).page;
					window.base.linkTo(self);
				},
				consult: function(e) {
					var self = this;
					self.is_show = !self.is_show;
				},
				mask: function(e) {
					var self = this;
					self.is_show = false;
				},
				enter(index) {
					var self = this;
					var cursorId = index;
					self.wx_show = cursorId;

				},
				leave(index) {
					var self = this;
					var cursorId1 = index;
					self.wx_show = cursorId1;
				},
				click_leave(index) {
					var self = this;
					var cursorId1 = index;
					self.wx_show = cursorId1;
				}
			}
		});
	</script>

	<script>
		
		$('#productList').waypoint(function() {
			$('#productList').css('opacity','1');
			$("#productList .to_animate_one").each(function(k) {
                var el = $(this);
				console.log('test');
                setTimeout(function() {
                    el.addClass('fadeInUp animated');
                    el.css('opacity','1');
                }, k * 300, 'easeInOutExpo');

            });
		}, { offset: '75%' });
			
		$('.website-process-img').css('opacity','0');
		$('.website-process-img').waypoint(function(){
				$(".website-process-img").each(function(k) {
                var el = $(this);
                setTimeout(function() {
                    el.addClass('fadeInRight animated');
                    el.addClass('flipInY animated');
                    el.css('opacity','1');
                }, k * 300, 'easeInOutExpo');
            });
			},{offset:'75%'});
			
		$('.website-process-text').css('opacity','0');
		$('.website-process-text').waypoint(function(){
				$(".website-process-text").each(function(k) {
                var el = $(this);
                setTimeout(function() {
                    el.addClass('rotateInUpLeft animated');
                    el.addClass('flipInY animated');
                    el.css('opacity','1');
                }, k * 250, 'easeInOutExpo');
            });
			},{offset:'80%'});
			
			$('.website-item').css('opacity','0');
				$('.website-item').waypoint(function() {
					$(".website-item").each(function(k) {
		                var el = $(this);
						console.log('test');
		                setTimeout(function() {
		                    el.addClass('flipInX animated');
		                    el.css('opacity','1');
		                }, k * 300, 'easeInOutExpo');
		            });
				}, { offset: '75%' });
			
	</script>
	<script>
		function back_top() {
			document.body.scrollTop = document.documentElement.scrollTop = 0;
		}
	</script>
	
	
</html>
